doctype html
html
	include head
	body
		include navbar
		
		.wrapper
			.header
			.container-fluid
				div.row
					div.col.col-md-8.col-md-offset-1
						.panel
							.panel-heading Fichas técnicas
							.panel-body
								.row
									.col.col-md-12
										#listaFichasTecnicas
											| Carregando...