nav.navbar.navbar-primary.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href='/') #{title}

            button.navbar-toggle.collapsed.pull-right(type='button', data-toggle='collapse', data-target='#menu-navbar-primary')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            .visible-xs-block
                a.text-light(href='/historico')
                    //- i.material-icons account_circle
                    | Histórico

        #menu-navbar-primary.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/historico')
                        //- i.material-icons account_circle
                        | Histórico